/* Default font stack */
body {
    font-family: Roboto, Helvetica, sans-serif;
}

/* Heading styling for "Comparison of Dealer Incentives and Loan Offers" */
h1 {
    font-size: 16px;
    color: #444444;
}

/* Container class with centered text, 5px margin, and font size of 13px */
.container {
    text-align: center;
    margin: 5px;
    font-size: 13px;
}

/* Styling for each offer with class 'offer' */
.offer {
    display: inline-block;
    width: 400px;
    margin: 4px;
    text-align: center;
    border: 1px solid #cccccc;
}

/* Styling for offer titles with class 'offer-title' */
.offer-title {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #00b3b3;
    margin: 0;
    padding: 15px;
}

/* Styling for offer contents with class 'offer-contents' */
.offer-contents {
    padding: 20px;
    background-color: #fafafa;
}

/* Table styling */
table {
    width: 100%;
    background-color: #ffffff;
    border-spacing: 0;
}

th {
    font-size: 12px;
    font-weight: bold;
    color: #777777;
    padding: 10px;
    margin: 0;
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
}

td {
    font-weight: lighter;
    color: #444444;
    padding: 20px 10px;
    margin: 0;
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
}

/* Styling for final value class */
.final-value {
    font-weight: bold;
    color: #2222ff;
}







