p{
    background-color: aqua;
    color: blueviolet;
}

strong{
    color:brown;
}

strong:hover{
    background-color: lightyellow;
}

.names{
font-family: 'sans serif';
font-size: large;
}